.pth
.npy
.png
models/*.pth
*.pth
plots/*.png
plots/*.pdf
plots/*.jpg
plots/*.jpeg
plots/*.webp
plots/*.gif
plots/*.bmp
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.bmp
.env
.venv
venv/
.venv/
mpi_env/
data/
results/